$font-family: -apple-system,".SFNSText-Regular","Roboto","Segoe UI","Oxygen","Ubuntu","Cantarell","Microsoft Yahei","微软雅黑","Helvetica Neue","メイリオ","ＭＳ Ｐゴシック",Arial,sans-serif;

$t-gray: #6C6C6C;
$t-blue: #617fde;
$white: #fff;
$platinum: #f7f7f7;
$black: #4b4b4b;
$darkgrey: #262626;

$f-h-text: 13px;
$f-h-intro: 16px;
$f-f: 14px;
$f-t: 24px;

$vanilla: #ffc817;
$base-border: 1px solid #d8e4f6;
$email-width: 600px;

// Reset
html, body, div, span, i,
h1, h2, h3, h4, h5, h6, p,
a, img, q, ul, li, table, caption, tbody, tfoot, thead, tr, th, td
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}

body {
  line-height: 1;
  background-color:$platinum;
}
ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}

ol li {
  list-style-type: decimal;
}

a {
  text-decoration: underline;
  color: $t-blue;
  &:hover {
    color: $t-blue;
  }

  &:hover, &:active {
    outline: 0;
  }

  &:visited {
    color: $t-blue;
  }

}

.tick-email {
  font-family: $font-family;
  width: $email-width;
  margin: 0 auto;
  margin-top: 30px;

  .e-header {
    text-align: center;
    img {
      margin-top: 54px;
    }
  }
  .e-h {
    padding-top: 22px;
    padding-bottom: 0;
    h3 {
      font-size: 28px;
      color: $black;
      line-height: 1;
    }
  }

  .e-intro {
    color: $darkgrey;
    font-size: 15px;
    line-height: 23px;
    margin: 35px 0;
  }

  .e-warn {
    vertical-align: baseline;
    color: $vanilla;
    padding: 0 4px;
  }

  .e-section-wrapper {
    background-color: white;
    border-top: 6px solid $t-blue;
    margin: 54px 0 0 0;
    padding: 0 0 16px 0;
  }

  .e-section {
    width: 480px;
    margin: 0 auto;
    text-align: left;
    .e-btn {
      display: block;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      width: 160px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: $white;
      background-color: $t-blue;
      border-radius: 2px;
      border-color: $t-blue;
      margin: 0 auto;
      margin-bottom: 44px;
      padding: 0 10px;
    }

    .hc-list {
      font-size: 13px;
      color: $t-gray;

      a {
        color: $t-gray;

        &:hover {
          color: $t-gray;
        }
      }
    }
  }

  .e-divider {
    height: 1px;
    background-color: #e5e5e5;
    margin: 50px auto;
  }


  .e-footer {
    background: $platinum;
    padding: 50px 0 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    p {
      color: $t-gray;
      font-size: 10px;
      line-height: 18px;
    }
  }

  .e-platform {
    text-align: center;
    font-size: 0;
    padding: 0 32px 20px 32px;

    h5 {
      font-size: 12px;
      color: $t-gray;
      padding-bottom: 16px;
    }

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 8px;
      a {
        font-size: 13px;
      }
    }

    p {
      margin: 16px 0 0 0;
      line-height: 12px;
    }

    .pointer {
      margin: 0;
      font-size: 13px;
      color: $t-blue;
    }

    .forum > a {
      vertical-align: baseline;
    }
  }

  .e-footer-sns {
    text-align: center;
    a {
      position: relative;
      text-decoration: none;
      margin: 10px;
    }
  }

  .e-help {
    text-align: center;
    padding: 20px 0 20px 0;
  }

}

