<div class="e-footer">
  <div class="e-platform">
    <h5>{{e_footer_title}}</h5>
    <ul class="pl">
     #if ($is_cn_site == "false")
      <li><a href="https://play.google.com/store/apps/details?id=org.dayup.gnotes">Android</a></li>
      <li><a href="https://itunes.apple.com/us/app/gnotes/id569843819?mt=8">iPhone</a></li>
      <li><a href="https://${site_domain}">Web</a></li>
    #else
      <li><a href="http://sj.qq.com/myapp/detail.htm?apkName=org.dayup.gnotes">Android</a></li>
      <li><a href="https://itunes.apple.com/cn/app/gnotes/id569843819?mt=8">iPhone</a></li>
      <li><a href="https://${site_domain}">Web</a></li>
    #end
    </ul>
  </div>

  <div class="e-help">
    <p>{{{e_footer_forum}}}</p>
    <p>{{e_footer_team}}</p>
  </div>

</div>