<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="../../dist/survey.css">
</head>
<body>
    <div class="tick-email">
      {{> header_survey}}
      {{> section_survey}}
      {{> footer_survey}}
    </div>
</body>
</html>
